<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ykj.ex00.mappers.BoardMapper">

  <insert id="insert" parameterType="BoardVO">
    <selectKey order="AFTER" keyProperty="bno" resultType="long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_board (title, content, writer)
    values(#{title},#{content},#{writer})
  </insert>

  <select id="getList" resultType="BoardVO">
    select * from tbl_board where bno > 0 order by bno desc
  </select>

  <select id="select" resultType="BoardVO">
    select * from tbl_board where bno = #{bno}
  </select>

  <update id="update" parameterType="BoardVO">
    update tbl_board set title=#{title}, content=#{content}, updateDate=now()
    where bno = #{bno}
  </update>

<!-- 검색 sql 재사용 concat 문자열을 이어 붙이는 함수 LIKE 연산자와 함께 사용 -->
  <sql id="search">
    <if test="(types != null and keyword != null)">
      <foreach collection="types" item="type" open=" and ( " separator="OR" close=")">
        <choose>
          <when test='type.equals("T")'>
            title like concat('%', #{keyword}, '%')
          </when>
          <when test='type.equals("C")'>
            content like concat('%', #{keyword}, '%')
          </when>
          <when test='type.equals("W")'>
            writer like concat('%', #{keyword}, '%')
          </when>
        </choose>
      </foreach>
    </if>
  </sql>

<!--  parameterType 자동주입후 getSkip, getAmount 호출 -->
  <select id="getPage" resultType="BoardVO">
    select * from tbl_board where bno > 0
      <include refid="search"/>
    order by bno desc
    limit #{skip}, #{amount}
  </select>

  <select id="getTotalCnt" resultType="int">
    select count(bno) from tbl_board where bno > 0
      <include refid="search"/>
  </select>
</mapper>